<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides mode="ios" *ngIf="dataLocalService.noticias.length === 0"
              [options]="slideOptions">
    <ion-slide>
      <h3 class="ion-padding">No hay favoritos, agregue a favoritos!!</h3>
    </ion-slide>
  </ion-slides>
  <app-noticias [noticias]="dataLocalService.noticias" [enFavoritos]="true">
  </app-noticias>  
</ion-content>
